{% extends "base.html" %}  

{% load static %} 

{% block content %} 
<h1>vista desde Personas</h1>

<!-- * usando en la Listview el atributo "context_object_name"

    {% for l in lista  %}
    <p>
        {{l}}
    </p>    
    {% endfor %}   -->

<!-- Mientras se ejecuta ListView, "self.object_list" contendrá la lista de objetos
    sobre los que está operando la vista. -->
    

{% if is_paginated %}

<ul>
    
    {% if page_obj.has_previous %}            
        <li>
            <a href="?page={{page_obj.previous_page_number}}">Anterior</a>
        </li>        
    {% endif %}

    
    {% for i in paginator.page_range  %}
        <li>
            <a href="?page={{i}}">{{i}}</a>
        </li>  
    {% endfor %}
        
    {% if page_obj.has_next %}            
        <li>
            <a href="?page={{page_obj.next_page_number}}">Siguiente</a>
        </li>        
    {% endif %}    
   
</ul>
    
{% endif %}
    
<table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">Departamento</th>
        <th scope="col">Acción</th>
      </tr>
    </thead>
    <tbody>
        {% for item in lista %}
      <tr>
        <th scope="row">{{item.id}}</th>
        <td>{{item.nombre}}</td>
        <td>{{item.apellido}}</td>
        <td>{{item.departamento}}</td>
        <td><a href="{% url 'empleado_detalle' item.pk %}">DETALLE</a></td>
      </tr>
        {% endfor %}
     
    </tbody>
  </table>

  {% endblock %} 