{% extends "base.html" %}  

{% load static %} 

{% block content %} 
<h2>Eliminar un Empleado</h2>

<form method="POST">{% csrf_token %}

   
    <p>Seguro que querés eliminar a {{persona.nombre}} {{persona.apellido}} de la base de datos?</p>
    <a class="btn btn-outline-success me-2" href="{% url 'personas_app:registro_exitoso' %}">Si</a>

    <!--button class="btn btn-outline-success me-2" type="submit">Si</button-->
    <a class="btn btn-outline-danger me-2" href="{% url 'personas_app:lista_empleados' %}">No</a>

</form>


{% endblock %}