{% extends "base.html" %}  

{% load static %} 

{% block content %} 

<div class="row p-5">
  <div class="col">

    
    <h1>App para Gestión de Empleados</h1>
    <h4>Hecha por mí!</h4>
    <p>En base al curso de Django de Cristhian Santa Cruz</p>
    
    <h5>Con esta app podrás:</h5>
    
    <ul>
      <li>Registrar Empleados en una base de datos.</li>
      <li>Listarlos</li>
      <li>Ver el detalle de la información sobre cada uno.</li>
      <li>Editar los datos.</li>
      <li>Eliminarlos del registro de empleados.</li>
    </ul>
    <p>Espero que te guste y si te interesa ver el código, podés hacerlo en <a href="https://github.com/vanemanza/Empleados" style="color:rgb(240, 98, 221)" >https://github.com/vanemanza</a></p>
  </div>
    <div class="col-4 pt-5">
      <img src="{% static 'personas/imagen.jpg' %}" alt="pigüi" style="width:85%">
     
    </div>
</div>

{% endblock %} 