{% extends "base.html" %}  

{% load static %} 

{% block content %} 
<div class="row">
  <div class="col">

    <h1>Listado de Empleados</h1>
  </div>
  <div class="col mt-3">
    <form action="" method="GET">{% csrf_token %}
      <input type="text" name="" id="kword" name="kword" placeholder="Buscar empleado...">
      <button type="submit">Buscar</button>
    </form>
  </div>
</div>

<!-- * usando en la Listview el atributo "context_object_name"

    {% for l in lista  %}
    <p>
        {{l}}
    </p>    
    {% endfor %}   -->

<!-- Mientras se ejecuta ListView, "self.object_list" contendrá la lista de objetos
    sobre los que está operando la vista. -->
    

{% if is_paginated %}

    
    {% if page_obj.has_previous %}            
        <p>
            <a href="?page={{page_obj.previous_page_number}}">Anterior</a> &nbsp;&nbsp;
         
    {% endif %}

    
    {% for i in paginator.page_range  %}
      
            <a href="?page={{i}}">{{i}}</a>&nbsp;&nbsp;
        
    {% endfor %}
        
    {% if page_obj.has_next %}            
      
            <a href="?page={{page_obj.next_page_number}}">Siguiente</a>
         </p>      
    {% endif %}    
   

    
{% endif %}
    
<table class="table" style="color:white">
    <thead>
      <tr >
        <th scope="col">ID</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">Departamento</th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
        {% for item in lista %}
      <tr >
        <th scope="row">{{item.id}}</th>
        <td>{{item.nombre}}</td>
        <td>{{item.apellido}}</td>
        <td>{{item.departamento}}</td>
        <td><a href="{% url 'personas_app:empleado_detalle' item.pk %}" class="btn btn-outline-warning me-2">Detalle</a></td>
        <td> <a href="{% url 'personas_app:actualizar' item.pk %}" class="btn btn-outline-success me-2">Editar</a></td>
        <td> <a href="{% url 'personas_app:eliminar' item.pk %}" class="btn btn-outline-danger me-2">Eliminar</a></td>
      </tr>
        {% endfor %}
   
    </tbody>
  </table>

  {% endblock %} 